.child-row {
  background-color: #f9f9f9;
}

.child-table {
  width: 100%;
  border: 1px solid #ddd;
}

th {
  background-color: #F2F4F8 !important;
  height: 40px;
  border: 1px solid #F2F4F4;
}

td {
  border: 1px solid #F2F4F4;
}
